a {
  text-decoration: none;
}

nav {
  font-family: "Trueno";
}
.menu {
  background-color: red;
}
ul {
  background: red;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: black;
}

li:hover,
li:focus-within {
  background: rgb(130, 127, 127);
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.accueil {
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Trueno";
  font-size: 16px;
}
.projets {
  margin-right: 40px;
  font-family: "Trueno";
  font-size: 16px;
}
.contact {
  font-family: "Trueno";
  font-size: 16px;
}
/**
.menu {
  background-color: #f2f2f2;
}

.accueil {
  margin-right: 40px;
  margin-left: 40px;
  font-family: "Trueno";
  font-size: 16px;
  line-height: 30px;
  color: #2d2d2d;
}

.projets {
  margin-right: 40px;
  font-family: "Trueno";
  font-size: 16px;
  line-height: 30px;
  color: #585757;
}

.contact {
  font-family: "Trueno";
  font-size: 16px;
  line-height: 30px;
  color: #585757;
}*/

main {
  margin-left: 20px;
}

h1 {
  position: absolute;
  width: 1205px;
  height: 131px;
  left: 55px;
  top: 230px;
  font-family: "Trueno";
  font-weight: normal;
  font-size: 60px;
}

.employment {
  position: absolute;
  width: 1205px;
  height: 52px;
  left: 55px;
  top: 340px;
  font-family: "Trueno";
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
}

.description {
  position: absolute;
  width: 1205px;
  height: 119px;
  left: 55px;
  top: 420px;
  font-family: "Libre Baskerville";
  font-size: 30px;
}
.btn:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
  border: 2px solid white;
}
.cta_propos {
  position: absolute;
  width: 132px;
  height: 17px;
  left: 55px;
  top: 535px;
  font-size: 13px;
  text-align: center;
}

.propos {
  text-decoration: none;
  width: 120px;
  line-height: 30px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: bold;
  border: 1px solid #a3a3a3;
  color: #2d2d2d;
  border-radius: 20px;
}

.icones {
  position: absolute;
  width: 213px;
  height: 58px;
  left: 45px;
  top: 590px;
  margin-top: 10px;
}

.dribble {
  margin-bottom: 5px;
  margin-left: 5px;
}
