@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('./../fonts/icomoon/icomoon.eot?-ee0u0f');
	src:url('./../fonts/icomoon/icomoon.eot?#iefix-ee0u0f') format('embedded-opentype'),
		url('./../fonts/icomoon/icomoon.woff?-ee0u0f') format('woff'),
		url('./../fonts/icomoon/icomoon.ttf?-ee0u0f') format('truetype'),
		url('./../fonts/icomoon/icomoon.svg?-ee0u0f#icomoon') format('svg');
}

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap');

$color-black-secondary : "#2D2D2D";
$color-black : "#000000";

@import "normalize.css";
@import "components.scss";


/* Header */
.header {
	position: relative;
	margin: 0 auto;
	height: 100vh;
	width: 100%;
}

.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    img {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;

        @media screen and (max-width: 27em) {
            left: -22em;
        }
    
        @media screen and (max-width: 47em) {
            left: -30em;
        }

        @media screen and (max-width: 768px) {
            left: -30em;
        }
        
    }
}


.title {
	z-index: 1000;
	margin: 0 auto;
    padding: 0 1.25em;  
	width: 100%;
	position: absolute;
	top: 43%;
    left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    @media screen and (max-width: 27em) {
        font-size: 50%;
    }

    @media screen and (max-width: 47em) {
        font-size: 70%;  
    }
    
    h1 {
        padding: 0 0 0.2em;
        color: #fff;
        font-weight: bold;
        font-size: 3.25em;
        margin: 0 auto;
    }

    p {
        color: #fff;
        padding: 0 0 0.6em;
        font-size: 16px;
        margin: 0 auto;
        &.subline {
            font-size: 1.4em;
        }
    }

    h1, p.subline {
	    line-height: 1;
    }
    
}


/* Trigger  */
.trigger {
	position: fixed;
	bottom: 40px;
	left: 50%;
	z-index: 5000;
	display: block;
	margin-left: -0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border: none;
	background: transparent;
	color: transparent;
	font-size: 2em;
    cursor: pointer;
}


.container {
    &:not(.notrans){
        .trigger {
            -webkit-transition: opacity 0.3s 0.5s;
	        transition: opacity 0.3s 0.5s;
        }
    }

    &.modify:not(.notrans){
        .trigger {
            opacity: 0;
            pointer-events: none;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }
    }
}


.trigger {
    &::before {
        position: absolute;
        bottom: 100%;
        left: -100%;
        padding: 0.8em;
        width: 300%;
        color: #fff;
        content: attr(data-info);
        font-size: 0.35em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        @media screen and (max-width: 27em) {
            display: none;
        }
    }

    &:focus {
        outline: none;
    }

    span {
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            content: "\e097";
            text-transform: none;
            font-weight: normal;
            font-style: normal;
            font-variant: normal;
            font-family: 'icomoon';
            line-height: 1;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}

/* Conent */
.content {
	margin: 0 auto;
    padding: 0 0 3em;
    font-size: 16px;

    @media screen and (max-width: 27em) {
        font-size: 50%;
    }

    /* Media Queries */
    @media screen and (max-width: 47em) {
        font-size: 70%;
    }
    
    h3 {
        margin: 0;
        font-size: 1.4em;
    }

    blockquote {
        padding: 0.25em;
        font-style: italic;
        line-height: 1.4;
        max-width: 750px;
        text-align: center;
        margin: auto;

        &::before {
            content: '\201C';
        }

        &::after {
            content: '\201D';
        }
    }
}

.author_blockquote {
    padding: 0.25em;
    font-style: italic;
    line-height: 1.4;
    max-width: 750px;
    text-align: center;
    margin: auto;

}

.content > .block:not(.title) {
	margin: -80px auto 0;
	max-width: 1300px;
    padding: 0 1.25em;
    
    p {
        margin: 0 auto 1.5em auto;

        &:first-child {
            font-size: 1.35em;
        }
    }
}


/* -------------------------- */
/* Side */
/* -------------------------- */

.intro-effect-side {
    &:not(.notrans){
        .title {
            -webkit-transition-property: -webkit-transform;
            transition-property: transform;
            
        }

        .bg-img{
            &::before {
                -webkit-transition-property: -webkit-transform;
                transition-property: transform;
                
            }
            &::after {
                -webkit-transition-property: top, left, bottom, right, background-color;
                transition-property: top, left, bottom, right, background-color;
            }
        }

        .header p {
            -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
        }

        .content > .block {
            -webkit-transition-property: opacity;
            transition-property: opacity;
        }

        .bg-img::before, .bg-img::after, .title, .header p, .content > .block {
            -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }

        .codrops-demos {
            a {
                color: #fff;
    
                @media screen and (max-width: 47em) {
                    font-size: 80%;
                }
    
                &.current-demo {
                    border-bottom: 2px solid #fff;
                }
            }
        }

        .header {

            h1{    
                font-family: 'Lora', serif;
                font-style: italic;
                font-weight: 400;
            }
            h1, p {
                color: #fff;
            }
            
            .subline {
                position: initial;
            }

            .content-bio {
                -webkit-transform: translateY(30%);
                transform: translateY(30%);
            }
    
        }

        .title {
	        text-align: center;
        }
    }

    .bg-img{
        &::before {
            content: '';
            position: absolute;
            z-index: 100;
            background: #fff;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);

        }

        &::after {
            content: '';
            position: absolute;
            z-index: 100;
            border: 80px solid #fff;
            top: -80px;
            right: -80px;
            bottom: -80px;
            left: -80px;
            background-color: rgba($color: #64538E, $alpha: 0.6);

            @media screen and (max-width: 47em) {
                border-left-width: 0px;
                border-right-width: 0px;
                right: 0px;
                left: 0px;
                background: rgba(255,255,255,0.1);
            }
        }
    }
    
    &.modify {
        .bg-img{
            &::before {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                @media screen and (max-width: 47em) {
                    -webkit-transform: translateX(-100%);
                    transform: translateX(-100%);
                }
            }

            &::after {
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(255,255,255,0);
                @media screen and (max-width: 47em) {
                    background: rgba(255,255,255,0.8);
                }
            }
        }
        .title {
            width: 100%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            text-align: left;
            @media (min-width:768px){
                width: 60%;
            }
        }

        .header {
            p {
                color: #7b8d92;
                opacity: 1;
                -webkit-transform: translateX(0);
                transform: translateX(0);
                &.subline {
                    font-size: 26px;
                    position: relative;
                    top: -1em;
                }
            }
            h1 {
                font-family: 'Libre Baskerville', serif;
                font-style: normal;
                font-weight: bold;
                color: #64538E;
            }

            .content-bio {
                -webkit-transform: translateY(10%);
                transform: translateY(10%);
            }
        }

        .content > .block {
            opacity: 1;
        }

        .codrops-demos {
            a {
                color: #2D2D2D;
    
                @media screen and (max-width: 47em) {
                    font-size: 80%;
                }
    
                &.current-demo {
                    border-bottom: 2px solid #000000;
                }
            }
        }

    }

    .codrops-demos {
        a {
            color: #2D2D2D;

            @media screen and (max-width: 47em) {
                font-size: 80%;
            }

            &.current-demo {
                border-bottom: 2px solid #000000;
            }
        }
    }

    .title {
        text-align: center;
        left: 0;
        padding: 0 3em 0 2em;
        width: 85%;
        -webkit-transform: translateX(8%) translateY(-50%);
        transform: translateX(8%) translateY(-50%);
        /*
        padding: 0 3em 0 2em;
        width: 60%;
        -webkit-transform: translateX(33.3%) translateY(-50%);
        transform: translateX(33.3%) translateY(-50%);
        */
        @media screen and (max-width: 47em) {
            width: 100%;
            padding: 0 1em;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    .header {
        h1 {
            font-family: 'Lora', serif;
            font-style: italic;
            font-weight: 400;
            padding: 0 0 0.5em 0;
            color: #516165;
        }

        p {
            opacity: 0;
            color: #7b8d92;
            &.subline {
                opacity: 1;
                position: relative;
                top: -1em;

            }
        }

        .content-bio {
            -webkit-transform: translateY(30%);
            transform: translateY(30%);
        }

    }

    .content > .block {
        margin-top: 0px;
        opacity: 0;
    }

    .trigger {
        span::before,&::before {
            color: #ffffff;
            letter-spacing: 0.02em;
        }
    }
    
}

.social {
    font-size: 2em;
    &:nth-child(2){
        margin: 0 16px 0 16px;
    }
}

p.subline-content {
    padding: 1.3em;
}

.topic {
    background-color: #64538E;
    color: #ffffff;
    padding-top: 3.6em;
    padding-bottom: 3.6em;
}

footer {
    background-color: #64538E;
    color: #ffffff;
    padding-top: 2.6em;
    padding-bottom: 2.6em;
}

.section-footer {
    margin: auto ;
	max-width: 1300px;
    padding: 0 1.25em;
    display: flex;
    flex-direction: column;
    font-size:0.67em;
    text-align: center;

    @media (min-width:768px){
        flex-direction: row;
        text-align: left;
        justify-content: space-between;
        div {
            width: 25%;
            padding-top: 1.6em;
            &.center {
                width: 48%;
                @media (min-width:768px){
                    border-right: 1px solid #ffffff;
                    padding-right: 2em;
                    margin-right: 2.7em;
                }
            }
        }
    }

    @media screen and (max-width: 27em) {
        font-size: 50%;
        
    }

    /* Media Queries */
    @media screen and (max-width: 47em) {
        font-size: 70%;
    }

    img {
        width: 120px;
        border-radius: 100%;
        @media (min-width:768px){
            width: 154px;
        }
    }

    .contact {
        border-top: 1px solid #ffffff;
        @media (min-width:768px){
            border: none;
        }
    }
}


.features {
    padding: 0 1.25em;
    margin: auto ;
    max-width: 1300px;
    
    @media (min-width:768px) {
        
        padding-top: 2.6em;
        padding-bottom: 2.6em;
    }
}

.title-section {
    text-transform: uppercase;
    font-weight: initial;  
    line-height: 47px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: #64538E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width:768px){
        text-align: left;
        flex-direction: row;
        justify-content: space-between;
    }

    .codrops-demos {
        font-size: 0.5em;
        font-family: 'TruenoRegular';
        @media (min-width:768px){
            font-size: 0.7em;
        }
        a {
            color: #64538E !important;
        }
    }
}


/**   **/
.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 1rem;
	position:relative;
    width:100%;
    margin: 0 auto;
    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    }
}


.article-soft {
    overflow: hidden;
    padding: 1.5rem 0.1rem;
    display: flex;
    justify-content: space-between;
    color: #6C6C6C;

    .left {
        width: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right {
        width: 75%;
        font-size:0.83em;
    }

    p {
        padding-top: 1em;
    }

    img {
        width: 85%;
        height: 42%;
        @media (min-width:768px){
            
            width: 85%;
            height: 60%;
        }
    }
}

.view {
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    padding: 1.8rem 0.6rem;
    font-size: 1.2rem;

    .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        border: 7px solid #fff;
        -webkit-box-shadow: 1px 1px 2px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
     }

     .one {
        display: block;
        position: relative;
        width: 100%;  
        display: flex;  

        img {
            width: 33.3%;
        }
     }

     h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px;
        background: rgba(0, 0, 0, 0.8);
        margin: 20px 0 0 0;
     }
     p {
        font-style: italic;
        font-size: 12px;
        position: relative;
        color: #fff;
        padding: 10px 20px 20px;
        text-align: center;
     }

     a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: #000;
        color: #fff;
        text-transform: uppercase;
        -webkit-box-shadow: 0 0 1px #000;
        -moz-box-shadow: 0 0 1px #000;
        box-shadow: 0 0 1px #000;

        &:hover {
            -webkit-box-shadow: 0 0 5px #000;
            -moz-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000;
         }
     }
    
 }


 .view-tenth {
    img {
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
     }

     .mask {
        background-color: #64538E;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
     }

     h2 {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        background: transparent;
        margin: 20px 40px 0px 40px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        color: #fff;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
     }

     p {
        color: #fff;
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        transition: all 0.5s linear;
     }

     a {
        &.info {
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-transition: all 0.5s linear;
            -moz-transition: all 0.5s linear;
            -o-transition: all 0.5s linear;
            -ms-transition: all 0.5s linear;
            transition: all 0.5s linear;
         }
     }

     &:hover {
        img {
            -webkit-transform: scale(10);
            -moz-transform: scale(10);
            -o-transform: scale(10);
            -ms-transform: scale(10);
            transform: scale(10);
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
         }

         .mask {
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
            border: 5px solid #fff;
            -webkit-box-shadow: 1px 1px 2px #e6e6e6;
            -moz-box-shadow: 1px 1px 2px #e6e6e6;
            box-shadow: 1px 1px 2px #e6e6e6;
         }

         h2, p, a.info {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: alpha(opacity=100);
            opacity: 1;
         }
     }
 } 
