.hero {
  margin-left: 80px;
  display: flex;
  flex-direction: column;

  margin-top: 100px;
}

.hero__title {
  font-family: "Trueno";
  font-weight: normal;
  font-size: 100px;
}

.hero__employment {
  font-family: "Trueno";
  margin-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
}

.hero__description {
  font-family: "Libre Baskerville";
  font-size: 30px;
  margin-top: 10px;
}

.hero__about {
  margin-top: 20px;
  text-decoration: none;
  width: 120px;
  line-height: 30px;
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: bold;
  padding: 4px 16px;
  border: 1px solid #a3a3a3;
  color: #2d2d2d;
  border-radius: 20px;
}

.hero__links {
  margin-top: 30px;
  ul {
    display: flex;
    flex-direction: row;
  }

  li:nth-of-type(3) {
    margin-top: 5px;
    margin-left: 5px;
  }
}
